<p id="notice"><%= notice %></p>

<h1>Products by Shops Summary of Orders for delivery on: <%=  Date.parse(@current_day).strftime("%A %d %B %Y") %></h1>

<table>
  <% i = 0 %>
  <% @summary.each do |rows| %>
    <tr>
    <% rows.each do |cells| %>
      <td>
        <% if cells.key?("value") then %>
          <%= cells["value"].to_s %>
        <% end %>
      </td>
    <% end %>
    </tr>
  <% end %>
</table>
