// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  //background-color: #a8a8a8;
}

.hidden_content {
  display: none;
}
.fixed_table tr:first-child td:nth-child(2), .fixed_table tr:first-child td:nth-child(3) {
  width: 50%;
}

.product {
  margin: 10;
  //border:2px solid #77d;
  font-size: x-small;
  line-height: 8px;
}
.title {
  margin: 5;
  color: black;
  line-height: 18px;
  padding: 5px;
  text-align: center;
  //border:1px solid black;
}
.price {
  margin: 5;
  color: black;
  line-height: 18px;
  //border:1px solid black;
}
.sector {
  margin: 30px auto;
  width: 75%;
  padding: 15px;
  border-bottom: 2px solid #F06560;;
  border-top: 2px solid #F06560;;
  cursor: pointer;
  text-align: center;
  color: #F06560;
}
.sector:hover {
  background-color: #F06560;
  color: white;
}
.sector b {
  font-size: 20px;
  text-transform: uppercase;
}
#user_shop {
  padding: 0.70em;
}
.info-container {
  margin-top: 50px;
  text-align: center;
}
.info-wrapper {
  margin: 0 auto;
  display: inline-block;
  padding: 50px;
  border: 2px solid #7e7e7e;
  background-color: #f1f1f1;
}
.field-wrapper {
  margin: 0 auto;
  margin-bottom: 30px;
}
.field {
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}
.actions input {
  margin-top: 30px;
  background: transparent;
  padding: 0.75em;
  border: 1px solid #F06560;
  color: #F06560;
  width: 100%;
  background-color: white;
}

.actions input:hover {
  background-color: #F06560;
  color: white;
  cursor: pointer;
}

.field:nth-child(3) {
  margin-right: 0;
}
.intro {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  color: #F06560;
}
input[type="date"] {
  padding: 0.5em;
}
select {
  padding: 0.7em;
  margin-top: 0.1em;
}

h1 {
  font-family: 'Raleway', 'sans-serif';
  font-size: 40px;
  padding: 30px;
  margin-left: 10%;
  color: #7e7e7e;
}
.main {
  margin-left: 0;
  text-align: center;
}
.qty {
  margin: 5;
  color: black;
  line-height: 18px;
  width: 98%;
  //border:1px solid black;
}
.origqty {
  display: none;
  margin: 5;
  color: black;
  line-height: 18px;
  //border:1px solid black;
}
.order_id {
  display: none;
  margin: 5;
  color: black;
  line-height: 18px;
  //border:1px solid black;
}
.product_id {
  display: none;
  margin: 5;
  color: black;
  line-height: 18px;
  //border:1px solid black;
}

.hideme {
  //display: none;  // use inline or none
}
.showme {
  //display: inline;  // use inline or none
}
td {
  padding: 5px;
}
table {
  margin: 0 auto;
  width: 100%;
  table-layout: fixed;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.my-over {
  border: 2px solid blue;
}




//Delivery Docket
.wrapper {
  width: 1000px;
  margin: 5em auto;
  
  h1 {
    text-align: center;
    margin: 0 0 1em 0;
    background-color: #F06560;
    font-weight: bold;
    color:black;
  }
  
  .info-name {
    margin-bottom: 1em;
    text-transform: uppercase;
    padding-bottom: 0.3em;
    border-bottom: 5px solid #F06560;
  }
  
  table {
    tr {
      td:nth-child(1) {
        padding-left: 2em;
      }
      td:nth-child(2) {
        text-align: right;
        padding-right: 2em;
      }
    }
  }
}

.column-left {
  vertical-align: top;
  display: inline-block;
  width: 30%;
  margin-right: 10%;
  
  .info {
    margin-left: 1em;
  }
}

.column-right {
  vertical-align: top;
  display: inline-block;
  width: 60%;
  
  table {
    width: 100%;
    margin-left: 0;
  }
}

.shop-name {
  position: relative;
  height: 250px;
}

.img-name {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.img-bar {
  z-index: -1;
  width: 100%;
  position: absolute;
  top: 70px;
  left: 0;
  
  h1 {
    color: white;
  }
}

.processing {
  background-colour: green;
}

.processingerror {
  background-colour: red;
}

.processingsuccess {
  background-colour: yellow;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

@media only screen
and (min-device-width : 320px) 
and (max-device-width : 568px) {
  table {
  width: 50%;
  }
  
  .title {
    font-size: 25px;
    line-height: 1;
    padding: 0.3em 0.2em;
  }
  
  .qty_locked {
    font-size: 25px;
  }
  
  .qty, .origqty {
    font-size: 25px;
  }
  
  .sector b {
    font-size: 35px;
    line-height: 1;
  }
  
  .info-wrapper {
    h1 {
      line-height: 1;
    }
  }
  
  .field-wrapper {
    .intro {
      margin-bottom: 1em;
    }
    
    .field {
      width: 100%;
      
      a {
        font-size: 25px;
      }
      
      input {
        width: 90%;
        font-size: 25px;
        margin-bottom: 1em;
      }
      
      select {
        width: 100%;
        font-size: 25px;
        margin-top: 0.75em;
      }
      
    }
  }
}
