<!DOCTYPE html>
<html>
  <head>
    <title>Jim</title>
    <%= csrf_meta_tags %>

    <style>
      .wrapper {
        width: 1000px;
        margin: 5em auto;
      }
      .wrapper h1 {
          text-align: center;
          margin: 0 0 1em 0;
          background-color: #F06560;
          font-weight: bold;
          color:black;
      }
        
      .wrapper .info-name {
          margin-bottom: 1em;
          text-transform: uppercase;
          padding-bottom: 0.3em;
          border-bottom: 5px solid #F06560;
      }
       
      
      .column-left {
        vertical-align: top;
        display: inline-block;
        width: 30%;
        margin-right: 10%;
      }
      
      .column-left .info {
          margin-left: 1em;
      }
      
      .column-right {
        vertical-align: top;
        display: inline-block;
        width: 60%;
      }
      
      .column-right table {
          width: 100%;
          margin-left: 0;
          border: 1px solid black;
          border-collapse: collapse;
      }

      .column-right table tr td, th {
        margin-left: 0;
        border: 1px solid black;
        border-collapse: collapse;
      }
        
      .column-right table tr td:nth-child(1) {
              padding-left: 2em;
      }
      
      .column-right table tr td:nth-child(2) {
              text-align: right;
              padding-right: 2em;
      }


      .shop-name {
        position: relative;
        height: 250px;
      }

      .img-name {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }
      
      .img-bar {
        z-index: -1;
        width: 100%;
        position: absolute;
        top: 70px;
        left: 0;
      }

      .img-bar h1 {
        color: white;
      }
      
      .clearfix {
        overflow: auto;
        zoom: 1;
      }
      
    </style> 
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
